
<h1>データ復旧シェアサービス</h1>
<br><%= link_to "ログイン", user_session_path, class:"btn btn-primary" %><br>
<%= link_to "新規登録",new_user_registration_path, class:"btn btn-primary" %>
<div class="main-image"></div>
